$_background_color: #111826;
$_black: #111214;
$_die_color: #212835;
$_frame_color: #363c49;
$_blue: #0b84ff;
$_yellow: #ffd70e;
$_red: #fe453d;
$_green: #31d15b;
$_purple: #5f5de9;
$_light_blue: #59bed2;
$_fuchsia: #c15af5;
$_white: #ffffff;
$_grey: #9fa4aa;
