<section id="about" class="about-section">
  <div class="about-container container">
    <div class="text-about-container">
      <h2 class="text-about-header">
        <div class="text-background">About the</div>
        <div class="game">Game</div>
      </h2>
    </div>
    <div class="about-content">
      <div class="image-loading">
        <img src="../img/about/Loading.png" alt="Yukon" />
      </div>
      <div class="info-about">
        <p>
          Venture into the breathtaking wilderness of the Yukon with your
          family. Build your homestead, gather resources, and face the
          challenges of nature together.
          <br /><br />
          Yukon: Family Adventure blends survival, exploration, and storytelling
          to create a heartwarming and thrilling experience for players of all
          ages.
        </p>
      </div>
    </div>
  </div>
</section>
