<section id="advantages" class="advantages-section">
  <div class="advantages-container container">
    <h2 class="text-advantages-header">
      <div class="text-advantages-background">Advantages</div>
    </h2>

    <ul class="list-advantages">
      <li class="advantages-li">
        <div class="img-container-advantages">
          <img
            src="../img/advantages/rubin.png"
            alt="Features img"
            class="img-advantages"
          />
        </div>
        <div class="advantages-content">
          <h3 class="advantages-header">Heartwarming Family Dynamics:</h3>
          <p class="advantages-description">
            A game that celebrates cooperation and teamwork.
          </p>
        </div>
      </li>

      <li class="advantages-li">
        <div class="advantages-content">
          <h3 class="advantages-header">Immersive Survival Gameplay:</h3>
          <p class="advantages-description">
            Balancing resource management, exploration, and storytelling.
          </p>
        </div>
        <div class="img-container-advantages">
          <img
            src="../img/advantages/star.png"
            alt="advantages img"
            class="img-advantages"
          />
        </div>
      </li>

      <li class="advantages-li">
        <div class="img-container-advantages">
          <img
            src="../img/advantages/gift.png"
            alt="advantages img"
            class="img-advantages"
          />
        </div>
        <div class="advantages-content">
          <h3 class="advantages-header">Tailored for All Players:</h3>
          <p class="advantages-description">
            Whether you’re a seasoned gamer or a newcomer, there’s something for
            everyone.
          </p>
        </div>
      </li>

      <li class="advantages-li">
        <div class="advantages-content">
          <h3 class="advantages-header">Beautiful Yukon Landscape:</h3>
          <p class="advantages-description">
            Realistic, visually stunning, and rich with natural wonders.
          </p>
        </div>
        <div class="img-container-advantages">
          <img
            src="../img/advantages/heart.png"
            alt="advantages img"
            class="img-advantages"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
