<section id="advantages" class="advantages-section">
  <div class="advantages-container container">
    <h2 class="text-advantages-header">
      <div class="text-advantages-background">Advantages</div>
    </h2>
    <p class="hidden-p visually-hidden">Why Choose Yukon: Family Adventure?</p>

    <ul class="list-advantages">
      <li class="advantages-li">
        <div class="img-container-advantages">
          <img
            src="../img/advantages/rubin.png"
            alt="Features img"
            class="img-advantages img-advantages-rubin"
          />
        </div>
        <div class="advantages-content advantages-content-1">
          <h3 class="advantages-header advantages-header-1">
            Heartwarming Family Dynamics:
          </h3>
          <p class="advantages-description advantages-description-1">
            A game that celebrates cooperation and teamwork.
          </p>
        </div>
      </li>

      <li class="advantages-li">
        <div class="advantages-content advantages-content-2">
          <h3 class="advantages-header advantages-header-2">
            Immersive Survival Gameplay:
          </h3>
          <p class="advantages-description advantages-description-2">
            Balancing resource management, exploration, and storytelling.
          </p>
        </div>
        <div class="img-container-advantages">
          <img
            src="../img/advantages/star.png"
            alt="advantages img"
            class="img-advantages img-advantages-star"
          />
        </div>
      </li>

      <li class="advantages-li advantages-li-gift">
        <div class="img-container-advantages">
          <img
            src="../img/advantages/gift.png"
            alt="advantages img"
            class="img-advantages img-advantages-gift"
          />
        </div>
        <div class="advantages-content advantages-content-1">
          <h3 class="advantages-header advantages-header-1">
            Tailored for All Players:
          </h3>
          <p class="advantages-description advantages-description-1">
            Whether you’re a seasoned gamer or a newcomer, there’s something for
            everyone.
          </p>
        </div>
      </li>

      <li class="advantages-li">
        <div class="advantages-content advantages-content-2">
          <h3 class="advantages-header advantages-header-2">
            Beautiful Yukon Landscape:
          </h3>
          <p class="advantages-description advantages-description-2">
            Realistic, visually stunning, and rich with natural wonders.
          </p>
        </div>
        <div class="img-container-advantages">
          <img
            src="../img/advantages/heart.png"
            alt="advantages img"
            class="img-advantages img-advantages-heart"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
