<section id="features" class="features-section">
  <div class="features-container container">
    <h2 class="text-features-header">
      <div class="text-features-background">Unique Features</div>
    </h2>

    <ul class="list-features">
      <li class="feature">
        <h3 class="feature-header">Dynamic Seasons:</h3>
        <p class="feature-description">
          Experience the beauty and danger of Yukon’s changing seasons, from
          lush summers to harsh winters.
        </p>
        <div class="img-container">
          <img
            src="../img/features/feature_1.png"
            alt="Features img"
            class="img-feature"
          />
        </div>
      </li>
      <li class="feature">
        <h3 class="feature-header">Crafting & Building:</h3>
        <p class="feature-description second-elem">
          Construct your dream homestead using materials gathered from the
          wilderness.
        </p>
        <div class="img-container">
          <img
            src="../img/features/feature_2.png"
            alt="Features img"
            class="img-feature"
          />
        </div>
      </li>
      <li class="feature">
        <h3 class="feature-header">Family Bonding Gameplay:</h3>
        <p class="feature-description">
          Assign tasks to family members, each with unique skills, to create a
          stronger, more resilient unit.
        </p>
        <div class="img-container">
          <img
            src="../img/features/feature_3.png"
            alt="Features img"
            class="img-feature"
          />
        </div>
      </li>
      <li class="feature">
        <h3 class="feature-header">Wildlife Encounters:</h3>
        <p class="feature-description">
          Befriend, observe, or avoid the Yukon’s diverse wildlife, including
          bears, elk, and wolves.
        </p>
        <div class="img-container">
          <img
            src="../img/features/feature_4.png"
            alt="Features img"
            class="img-feature"
          />
        </div>
      </li>
      <li class="feature">
        <h3 class="feature-header">Story-Driven Missions:</h3>
        <p class="feature-description">
          Uncover the secrets of your ancestors and fulfill their unfinished
          journey in the Yukon.
        </p>
        <div class="img-container">
          <img
            src="../img/features/feature_5.png"
            alt="Features img"
            class="img-feature"
          />
        </div>
      </li>
    </ul>
    <div class="footage-container">
      <div>
        <img src="../img/features/bear.png" alt="Image 1" class="bear" />
      </div>
      <div>
        <img src="../img/features/leaves.png" alt="Image 2" class="leaves" />
      </div>
      <div>
        <img src="../img/features/sheep.png" alt="Image 3" class="sheep" />
      </div>
      <div class="ellipse-shadow-features"></div>
    </div>


    <div class="footage-container-2 visually-hidden">
        <img src="../img/features/girl.png" alt="girl" class="girl" />

      <div>
        <img src="../img/features/leaves-2.png" alt="leaves-2" class="leaves-2" />
      </div>
      </div>
    </div>
  </div>
</section>
