<header class="header">
  <div class="header-container container">
    <!-- Логотип з посиланням -->
    <div class="logo-container">
      <a href="#top" aria-label="Home" class="logo-link">
        <img class="logo" src="./img/Logo.png" alt="Game logo" />
      </a>
    </div>

    <!-- Головне меню (для екранів від 1200px) -->
    <nav class="header-nav" aria-label="Main Navigation">
      <ul class="header-nav-list">
        <li><a class="header-nav-link" href="#about">About the Game</a></li>
        <li><a class="header-nav-link" href="#features">Unique Features</a></li>
        <li><a class="header-nav-link" href="#howtoplay">How to Play</a></li>
        <li><a class="header-nav-link" href="#advantages">Advantages</a></li>
        <li>
          <a class="header-nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li><a class="header-nav-link" href="#gallery">Gallery</a></li>
      </ul>
    </nav>

    <!-- Бургер-меню -->
    <button class="burger" aria-label="Open Navigation" aria-expanded="false">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div class="menu-mobile container">
    <div class="menu-content">
      <div class="menu-header">
        <img class="menu-logo" src="./img/Logo.png" alt="Game logo" />
        <button class="menu-close" aria-label="Close Navigation">
          <img src="./img/X.svg" alt="Close menu" />
        </button>
      </div>

      <nav class="menu-nav">
        <ul class="menu-list">
          <li><a class="menu-link" href="#about">About the Game</a></li>
          <li><a class="menu-link" href="#features">Unique Features</a></li>
          <li><a class="menu-link" href="#howtoplay">How to Play</a></li>
          <li><a class="menu-link" href="#advantages">Advantages</a></li>
          <li><a class="menu-link" href="#testimonials">Testimonials</a></li>
          <li><a class="menu-link" href="#gallery">Gallery</a></li>
        </ul>
      </nav>

      <!-- Mobile Menu Footer -->
      <div class="menu-footer">
        <nav class="menu-footer-nav">
          <ul class="menu-footer-nav-list">
            <li>
              <a href="./privacy.html" class="menu-footer-nav-link"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="./terms.html" class="menu-footer-nav-link"
                >Terms & Conditions</a
              >
            </li>
          </ul>
        </nav>
        <p class="menu-footer-text">© 2025 coollucktrail.com</p>
        <p class="menu-footer-text">All rights reserved.</p>
      </div>
    </div>
  </div>
</header>
