<section id="home" class="home-section container">
  <div class="text-container">
    <div class="main-text">
      <h1 class="white-text">Yukon: Family Adventure</h1>
      <h1 class="red-text">Yukon: Family Adventure</h1>
    </div>

    <div class="description-text">
      <p>
        Explore. Survive. Rebuild. <br />
        The Yukon wilderness awaits <br />
        your story!
      </p>
    </div>
  </div>

  <img
    class="image-between-text-and-button"
    src="./img/home/Family image.png"
    alt="Family"
  />

  <!-- Контейнер для кнопки -->
  <div class="cta-button-container">
    <button class="cta-button">Start Your Adventure Today!</button>
  </div>
</section>
