<section id="home" class="home-section">
  <div class="text-container">
    <div class="main-text">
      <h1 class="white-text">Yukon: Family Adventure</h1>
      <h1 class="red-text">Yukon: Family Adventure</h1>
    </div>
    <div class="description-text">
      <p>Explore. Survive. Rebuild. The Yukon wilderness awaits your story!</p>
    </div>
    <div class="image-between-text-and-button">
      <img src="../img/home/Family image.png" alt="Family" />
    </div>
    <div class="cta-button-container">
      <button class="cta-button">Start Your Adventure Today!</button>
    </div>
  </div>
</section>
