<section id="home" class="home-section">
  <div class="text-container">
    <div class="main-text">
      <h1 class="white-text">Yukon: Family Adventure</h1>
      <h1 class="red-text">Yukon: Family Adventure</h1>
    </div>

    <div class="description-text">
      <p>
        Explore. Survive. Rebuild. <br />
        The Yukon wilderness awaits <br />
        your story!
      </p>
    </div>
  </div>

  <img
    class="image-between-text-and-button"
    src="../img/home/Family image.png"
    alt="Family"
  />

  <!-- Контейнер для кнопки -->
  <div class="cta-button-container">
    <div class="left-rectangle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="40"
        viewBox="0 0 16 40"
        fill="none"
      >
        <path
          d="M16 0H6.60721C3.06565 0 0.294624 3.05146 0.634985 6.57663L3.33843 34.5766C3.63543 37.6527 6.2203 40 9.31066 40H16V0Z"
          fill="url(#paint0_linear_2015_70)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_2015_70"
            x1="8"
            y1="0"
            x2="8"
            y2="40"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD07D" />
            <stop offset="0.295" stop-color="#FAB439" />
            <stop offset="0.665" stop-color="#EC8D0D" />
            <stop offset="0.99" stop-color="#E37B18" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <button class="cta-button">Start Your Adventure Today!</button>
    <div class="right-rectangle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="40"
        viewBox="0 0 16 40"
        fill="none"
      >
        <path
          d="M0 0H9.39279C12.9343 0 15.7054 3.05146 15.365 6.57663L12.6616 34.5766C12.3646 37.6527 9.7797 40 6.68934 40H0V0Z"
          fill="url(#paint0_linear_2015_73)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_2015_73"
            x1="8"
            y1="0"
            x2="8"
            y2="40"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD07D" />
            <stop offset="0.295" stop-color="#FAB439" />
            <stop offset="0.665" stop-color="#EC8D0D" />
            <stop offset="0.99" stop-color="#E37B18" />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
</section>
