<section id="howtoplay" class="howtoplay-section">
  <div class="howtoplay-container container">
    <h2 class="text-howtoplay-header">
      <div class="text-howtoplay-background">How to Play</div>
    </h2>

    <ul class="list-howtoplay">
      <li class="howtoplay-li">
        <h3 class="howtoplay-header">1. Settle in the Yukon</h3>
        <div class="img-container-howtoplay">
          <img
            src="../img/howtoplay/play_1.png"
            alt="Features img"
            class="img-howtoplay"
          />
        </div>
        <p class="howtoplay-description">
          Start with a small cabin and expand your homestead.
        </p>
      </li>
      <li class="howtoplay-li">
        <h3 class="howtoplay-header">2. Gather Resources:</h3>
        <div class="img-container-howtoplay">
          <img
            src="../img/howtoplay/play_2.png"
            alt="howtoplay img"
            class="img-howtoplay"
          />
        </div>
        <p class="howtoplay-description">
          Gather Resources: Hunt, fish, and forage to keep your family fed and
          thriving..
        </p>
      </li>
      <li class="howtoplay-li howtoplay-li-3">
        <h3 class="howtoplay-header">3. Complete Family Quests:</h3>
        <div class="img-container-howtoplay">
          <img
            src="../img/howtoplay/play_3.png"
            alt="howtoplay img"
            class="img-howtoplay"
          />
        </div>
        <p class="howtoplay-description">
          Strengthen family bonds by working together to overcome obstacles and
          fulfill story-driven missions.
        </p>
      </li>
      <li class="howtoplay-li">
        <h3 class="howtoplay-header">4. Build & Craft:</h3>
        <div class="img-container-howtoplay">
          <img
            src="../img/howtoplay/play_4.png"
            alt="howtoplay img"
            class="img-howtoplay"
          />
        </div>
        <p class="howtoplay-description">
          Create tools, furniture, and facilities to improve your living
          conditions.
        </p>
      </li>
      <li class="howtoplay-li">
        <h3 class="howtoplay-header">5. Explore the Wilderness:</h3>
        <div class="img-container-howtoplay">
          <img
            src="../img/howtoplay/play_5.png"
            alt="howtoplay img"
            class="img-howtoplay"
          />
        </div>
        <p class="howtoplay-description">
          Unlock new areas, discover hidden treasures, and face natural
          challenges.
        </p>
      </li>
    </ul>


    <div class="howtoplay-image">
<div>
      <img src="../img/howtoplay/house.png" alt="Image 1" class="house house-2" /></div>
<div class="ellipse-shadow">
  </div></div>
</section>
