@import './common/vars.scss';

/* Загальні стилі для секції */
.home-section {
  position: relative;
  height: 568px;
  width: 100%;
  background-color: $_background_color;
  background-image: url('../img/home/Background image 1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

/* Контейнер для тексту */
.text-container {
  text-align: center;
  color: var(--White, #fff);
}

/* Основний заголовок */
.main-text {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  margin-top: 92px;

  .white-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 287.034px;
    color: var(--White, #fff);
  }

  .red-text {
    width: 287.034px;
    color: #282828;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--Red, #fe453d);
  }
}

/* Текст під заголовком */
.description-text p {
  align-self: stretch;
  color: var(--White, #fff);
}

/* Контейнер для зображення між текстом та кнопкою */
.image-between-text-and-button img {
  width: 284px;
  height: 294px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  background-color: transparent;
  box-shadow: none;
}

/* Кнопка */
.cta-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .cta-button {
    position: relative;
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 0 16px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    color: var(--White, #fff);

    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 1px 0px #d85931;
    z-index: 2; /* Гарантуємо, що кнопка над псевдоелементами */

    /* Прямокутники */
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 40px; /* Ширина прямокутника */
      height: 40px; /* Висота прямокутника */
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      z-index: 1; /* Прямокутники залишаються під кнопкою */
    }

    &::before {
      left: -50px; /* Відстань до кнопки */
      background-image: url('../img/home/Rectangle 22.svg');
    }

    &::after {
      right: -50px; /* Відстань до кнопки */
      background-image: url('../img/home/Rectangle 21.svg');
    }
  }
}
