// src/scss/styles.scss
@import './header.scss';
@import './footer.scss';
@import './common/reset.scss';
@import './common/vars.scss';
@import './common/mixins.scss';
@import './common/breakpoints.scss';
@import './home.scss';
@import './about.scss';
@import './features.scss';
@import './howtoplay.scss';
@import './advantages.scss';
@import './testimonials.scss';
@import './gallery.scss';

html {
  scroll-behavior: smooth;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

:root {
  --font-family: 'Roboto Flex', sans-serif;
  --second-family: 'Rubik One', sans-serif;
  --third-family: 'Rubik', sans-serif;
  --font3: 'Inter', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: var(-background_color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  scroll-margin-top: 60px;
}

h1 {
  /* Mobile/H1 */

  font-family: 'Roboto Flex';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

h2 {
  /* Mobile/H2 */
  color: var(--White, #fff);
  font-family: Rubik;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  /* H3 */
  color: var(--White, #fff);
  font-family: 'Rubik One';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  /* H4 */
  color: var(--White, #fff);
  font-family: 'Roboto Flex';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  /* Mobile/Body big */
  color: var(--White, #fff);
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0%;
  text-align: left;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
  }
}
