// src/scss/styles.scss
@import './header.scss';
@import './footer.scss';
@import './common/reset.scss';
@import './common/vars.scss';
@import './common/mixins.scss';
@import './common/breakpoints.scss';
@import './home.scss';
@import './about.scss';
@import './features.scss';
@import './howtoplay.scss';
@import './advantages.scss';
@import './testimonials.scss';
@import './gallery.scss';

html {
  scroll-behavior: smooth;
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --font-family: 'Roboto Flex', sans-serif;
  --second-family: 'Rubik One', sans-serif;
  --third-family: 'Rubik', sans-serif;
  --font3: 'Inter', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  scroll-margin-top: 60px; /* Встановлюємо значення, яке відповідає висоті нашого хедера */
}

h1 {
  /* Mobile/H1 */
  font-family: 'Rubik One';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}

h2 {
  /* Mobile/H2 */
  font-family: Rubik;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  /* Mobile/Body big */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
