/* Загальний стиль для хедера */
header {
  width: 100%;
}

/* Центральний контейнер */
.header-content {
  max-width: 320px; /* Максимальна ширина */
  margin: 0 auto; /* Вирівнювання по центру */
  display: flex;
  height: 64px;
  padding: 0 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(40, 40, 40, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Контейнер для кнопки */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 1px 0px #d85931;
  border-radius: 8px;
  z-index: 10;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Посилання кнопки */
.cta-link {
  text-decoration: none;
}

/* Кнопка Go Back */
.cta-button {
  display: flex;
  height: 40px;
  padding: 8px 24px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--White, #fff);
  font-family: 'Roboto Flex';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(
    --gradient-Orange,
    linear-gradient(
      180deg,
      #ffd07d 0%,
      #fab439 29.5%,
      #ec8d0d 66.5%,
      #e37b18 99%
    )
  );
  border: none;
}

/* Ефект при наведенні */
.cta-button:hover {
  background-color: #e37b18;
  transform: translateY(-2px);
  box-shadow: 0px 6px 3px 0px #b84e29;
}

/* Ефект при натисканні */
.cta-button:active {
  transform: translateY(0);
  box-shadow: 0px 4px 1px 0px #d85931;
}

/* Логотип */
.header-icon {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: url('./img/Logo.png') lightgray 50% / cover no-repeat;
}

.terms-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 16px;
}

.terms-list {
  padding-left: 25px; /* Відступ для списку */
  list-style-type: disc; /* Тип маркерів — точки */
  color: rgba(
    0,
    0,
    0,
    0.87
  ); /* Текст списку того ж кольору, що й основний текст */
}

.terms-list li {
  color: var(--White, #fff);
  font-family: 'Roboto Flex';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-bottom: 8px;
}

.terms-list a {
  color: #007bff;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.terms-list a:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .header-content {
    height: 100px;
    padding: 0 120px;
    max-width: 1200px;
  }

  .header-icon {
    width: 60px;
    height: 60px;
  }

  .terms-section {
    width: 930px;
    margin-top: 76px;
    margin-bottom: 80px;
    padding: 0 0;
  }

  .cta-button {
    height: 56px;
    width: 149px;
  }
}
