.testimonials-container {
  padding-top: 40px;
  padding-bottom: 17px;
}

.text-testimonials-header {
  color: var(--White, #fff);
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  text-shadow: 0px 1px 0px rgb(17, 18, 20);
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.text-testimonials-background {
  background-color: var(--fuchsia, #c15af5);
  padding: 6px 12px 7px 12px;
  width: 192px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3),
    0px 7px 12px 7px rgba(0, 0, 0, 0.15);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 288px;
  height: 312px;
  background-color: rgb(36, 42, 55);
  border-radius: 24px;
  /* dark theme dies */
  box-shadow: inset 0px 2px 4px 0px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px 0px rgba(255, 255, 255, 0.16);
  background: rgb(33, 40, 53);
}

.game-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  width: 256px;
  margin-bottom: 16px;
}
.swiper-slide img {
  width: 120px;
  height: 120px;
  margin-top: 16px;
  margin-bottom: 12px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  bottom: 26px;
  right: 140px !important;
  left: auto;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 140px !important;
  right: auto;
}

.username {
  margin-bottom: 12px;
}
.rating {
  margin-bottom: 4px;
}
