.testimonials-container {
  padding: 40px 0 17px;
  width: auto;
}

.text-testimonials-header {
  color: var(--White, #fff);
  font-family: var(--font-family, Rubik);
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  text-shadow: 0 1px 0 rgb(17, 18, 20);
  text-align: left;
  margin-bottom: 24px;
}

.text-testimonials-background {
  background-color: var(--blue, #0b84ff);
  padding: 6px 12px;
  width: 192px;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 7px 12px rgba(0, 0, 0, 0.15);
}

.mySwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 312px;
  background: rgb(33, 40, 53);
  border-radius: 24px;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1),
    inset 0 -2px 4px rgba(255, 255, 255, 0.15);
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.swiper-slide img {
  width: 120px;
  height: 120px;
  margin: 16px 0 12px;
}

.nav-bullets {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-next img,
.swiper-button-prev img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  pointer-events: none; /* Картинка не має блокувати натискання на кнопку */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  color: #fff;
  font-size: 20px;
}

.mySwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

/* Додаткові зміни для кращого контролю */
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next img,
.swiper-button-prev img {
  max-width: 100%;
  max-height: 100%;
}

.username {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.rating {
  color: var(--White, #fff);
  font-family: 'Roboto Flex';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
}

.game-description {
  font-size: 18px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  line-height: 130%;
  width: 256px;
  margin-bottom: 16px;
}

/* Desktop-specific styles */
@media screen and (min-width: 1200px) {
  .testimonials-section {
    display: flex;
    width: 1200px;
    padding: 80px 0;
    display: flex;
    justify-content: center;
  }

  .testimonials-container {
    padding: 80px 0 17px;
    width: auto;
  }

  .text-testimonials-header {
    display: inline-flex;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
  }

  .text-testimonials-background {
    width: auto;
  }

  .mySwiper .swiper-slide {
    display: flex;
    width: 453px;
    padding: 0 16px;
    height: auto;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
    border-radius: 24px;
    background: var(--Die-color, #212835);
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
      0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    padding-right: 40px;
  }

  .testimonials-content {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .swiper-slide img {
    width: 120px;
    height: 120px;
    margin: 0;
  }

  .nav-bullets {
    position: relative;
    width: 170px;
    left: 40%;
  }

  .mySwiper .swiper-button-next::after,
  .mySwiper .swiper-button-prev::after {
    color: #fff;
    width: 28px;
    height: 28px;
    font-size: 20px;
    transform: translate(25%, 10%);
  }

  .mySwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
}
